<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="css/main.css">
</head>
<h1>Developer Report</h1>
<body>
<table>
    <thead>
        <tr>
            <th>Hostname</th>
            <th>Operating System</th>
            <th>PATH</th>
            <th>Kernel</th>
            <th>Python Version</th>
            <th>Package Manager</th>
            <th>System Date Time</td>
        </tr>
    </thead>
    <tbody>
{% for linux_node in groups.all[1:] %}
        <tr>
            <td>{{ hostvars[linux_node]['ansible_facts']['ansible_hostname'] }}</td>
            <td>{{ hostvars[linux_node]['ansible_facts']['ansible_distribution'] }} {{hostvars[linux_node]['ansible_facts']['ansible_distribution_version']}}</td>
            <td>{{ hostvars[linux_node]['ansible_facts']['ansible_env']['PATH'] }}</td>
            <td>{{ hostvars[linux_node]['ansible_facts']['ansible_kernel'] }}</td>
            <td>{{ hostvars[linux_node]['ansible_facts']['ansible_python_version'] }}</td>
            <td>{{ hostvars[linux_node]['ansible_facts']['ansible_pkg_mgr'] }}</td>
            <td>{{ hostvars[linux_node]['ansible_facts']['ansible_date_time']['date'] }}</td>

        </tr>
{% endfor %}
    </tbody>
</table>

</body>
</html>
